@media screen and (max-width: 1234px)  {
    
    .nav__top{
        max-width: 1250px;
    }
    .said__bar{
        width: 1300px;
        
    }
    .box__chat{
        width: 1300px;
        height: 515px;
    }
    /* .parant{
        width: 1250px;
    }
     */

}
@media screen and (max-width: 720px) {
    .box__chat{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .said__bar{
        width: 600px;
    }
    .gulll{
        width: 600px;
    }
}
@media screen and (max-width: 476px) {
    .said__bar{
        width: 700px;
    }
    .gulll{
        width: 700px;
    }
    .parraaaa{
        font-size: 14px;
    }
    .opla{
        font-size: 13px;
    }
}
@media screen and (max-width: 413px) {
    .said__bar{
        width: 700px;
    }
    .gulll{
        width: 700px;
    }
    .parraaaa{
        font-size: 14px;
    }
    .opla{
        font-size: 13px;
    }
    .nav__top{
        display: none;
    }
    .navbar11{
        display: block;
    }
    .parant{
        width: 500px;
        
    }
    .gulll{
        width: 500px;
    }
    .said__bar{
        width: 500px;
    }
}
@media screen and (max-width: 400px) {
    .said__bar{
        width: 450px;
    }
    .gulll{
        width: 450px;
    }
    .parraaaa{
        font-size: 14px;
    }
    .parant{
        width: 450px;
    }
    .opla{
        font-size: 13px;
    }
    .asror1{
        width: 55px;
        height: 55px;
    }
    .text__sozlarnig__divi p span{
        padding-left: 40px;
    }
    
}