*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #202020;
}
.box111111{
    width: 400px;
    height: 600px;
    background: url("./Снимок\ экрана\ 2023-09-01\ 104311.png") no-repeat center/cover;
    margin: auto;
    overflow: auto;
}
.ooooo{
    width: 80px;
    height: 43px;
    background: #202020;
    border-radius: 40px;
    border: none;
    transition: .1s;
    margin-top: 30px;
}
.ooooo:active{
    border: 2px solid #ddd;
}
.ooooo:hover{
    border: 2px solid #ddd;
}
.lellet{
    width: 370px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background: #202020;
   
    padding-left: 20px;
    color: #fff;
    margin-left: 80px;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: 375px;
}
.nav__bor{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    padding: 2px 2%;
    background: #2e2e2f;
    display: flex;
}
.Java{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav__bor p{
    color: #fff;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 10px;
}
.nav__bor p span{
    color: gray;
}
.inkut{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-left: 30px;
    margin-top: 90%;
    border-radius: 20px;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.inkut::placeholder{
    color: #fff;
}
.buton{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    margin-left: 5px;
}
.buton:active{
    background-color: darkblue;
}
.op{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    margin-top: 120%;
}